html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  display: block;
}

body {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #000000;
}