html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fff;
}

div#sketch-foreground {
  position: absolute;
}